.bloc {
  height: 2500px;
}

.carre1,
.carre2,
.carre3,
.carre4,
.carre {
  height: 100px;
  width: 100px;
  background: blue;
}

.carre2,
.carre3,
.carre4 {
  position: relative;
  top: 150px;
  z-index: 1;
}

.carre1 {
  position: fixed;
  top: 150px;
  right: 0;
  background: orange;
}


.carre2,
.carre3 {
  background-color: blue;
}


.carre3 {
  left: 100px;

}

.carre {
  position: fixed;
  width: 100%;
  background: orange;
  z-index: 2;
}